html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    margin: 0 !important;
}

.list {
    height: 100%;
    background-color: white;
    padding: 0;
}

.content {
    margin: 0;
    height: 100%;
    font-size: 1.5em;
    font-family: helvetica, sans-serif, Verdana;
}

#slika {
    margin: 0;
    height: 37%;
    /*border: 1px black solid;*/
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    background-color: #388E3C;
}

.slika1 {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    overflow: hidden;
    transform:translateY(-25%);
    margin-bottom: 0;
}

#opis {
    background-color: white;
    font-size: 0.75em;
    padding-top: 0;
}

.basic {
    padding: 20px;
}

#naslov {
    color: white;
    background-color: #388E3C;
    margin-top: -10px;
}

#top {
    background-color: #388E3C;
    padding: 0;
    
}

.glyphicon-remove {
    background-color: #388E3C;
    margin-top: 5px;
    color: white;
    margin-left: 5px;
    border-radius: 3px;
}

.glyphicon-remove:active {
    visibility: hidden;
    background-color: #388E3C;
    border: 0 !important;
}

button {
    background-color: #388E3C;
    border: 0;
}